  .app-header{
    width: Fixed (1,920px)px;
    height: Hug (104px)px;
    padding: 16px 128px 0px 128px;
    gap: 16px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;

  }

  .navbar {
    background-color: #ffffff !important;
}

