.signup-image {
    background-image: url('../../../assets/images/signup-image.png');
    background-repeat: no-repeat;   
    width:620px;
    height:573px;
  }

  .login-button {
    background-image: url('../../../assets/images/login/login-container.png');
    background-repeat: no-repeat;   
    width:392px;
    height:72px;
  }