  .login-image {
    background-image: url('../../../assets/images/login-image.png');
    background-repeat: no-repeat;   
    width:1129px;
    height:696px;
  }

  .login-button {
    background-image: url('../../../assets/images/login/login-container.png');
    background-repeat: no-repeat;   
    width:392px;
    height:72px;
  }
