
<div class="container-fluid  d-flex align-items-center">
  <div class="row w-100">
    <div class="col-12 col-lg-4 d-flex align-items-center justify-content-center login-form-container">
      <div class="w-100 p-5">       
        <div class="login-header mb-3">Login</div>
        <div class="login-subheader mb-4">Welcome back. Enter your credentials to access your account</div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="genix" novalidate>
          <div class="form-group mb-3">
            <label for="exampleInputEmail" class="form-label">Email Address</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail"
              formControlName="email"
              aria-describedby="emailHelp"
              placeholder="hello@example.com"
            />
            <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)" class="text-danger">
              <small *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</small>
              <small *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email address.</small>
            </div>
          </div>
          <div class="form-group mb-3 d-flex justify-content-between align-items-center">
            <label for="exampleInputPassword" class="form-label">Password</label>
            <a href="#" class="text-primary">Forgot Password?</a>
          </div>
          <div class="form-group mb-3">
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword"
              formControlName="password"
              placeholder="Password"
            />
            <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)" class="text-danger">
              <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
              <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</small>
            </div>
          </div>
          <div class="form-group form-check mb-3">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="rememberMe" />
            <label class="form-check-label checkbox-text" for="exampleCheck1">Keep me signed in</label>
          </div>
          <button type="submit" class="btn btn-primary w-100 btn-gradient" [disabled]="loginForm.invalid" (ngSubmit)="onSubmit()">Continue</button>
        </form>        
        <div class="d-flex justify-content-center mb-4">
          <img src="../../../assets/images/login/login-container.png" alt="Login Illustration" class="img-fluid" />
        </div>
        <div class="signup-div text-center mt-3">
          <span class="account-text">Don’t have an Account?</span>
          <span class="signup-link"  (click)="onSignUp()">Sign up here</span>         
        </div>
      </div>
    </div>
    <div class="col-lg-6 d-none d-lg-flex align-items-center justify-content-center">
      <img src="../../../assets/images/login-image.png" alt="Login Illustration" class="img-fluid" style="max-width: 80%;" />
    </div>
  </div>
</div>


